{block content}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stromky</title>
    <link rel="stylesheet" href="{$basePath}/css/label.css">
  </head>
    <body>
    <article>
      <header>
        <h1>
          {$tree->name} <br />
          <span class="sub-heading"> {$tree->second_name} </span>
        </h1>
        <img class="tree-icon" src="{$tree->icon}" alt="Icon of {$tree->name}" />
      </header>
      <section>
      </section>
      <footer>
        <p>Ceny jsou uvedeny vč. 21% DPH.</p>
      </footer>
    </article>
  </body>
</html>

