body {
  font: 16px/1.5 Georgia, Verdana, Arial;
  margin: 0 auto;
  width: 600px;
  color: #333;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
}

/* Flash messages styling - typically used for notifications or alerts */
div.flash {
  color: #fff;
  background: #cb9540;
  border: 1px solid #e2c822;
  padding: 1em;
  margin: 1em 0;
}

/* Style for error links - used by presenters */
a[href^='#error:'] {
  background: red;
  color: white;
}

a:link,
a:visited {
  color: #754d39;
}

a:hover,
a:active {
  color: #0a58ca;
  text-decoration: none;
}

/* Form styles */
form th,
form td {
  vertical-align: top;
  font-weight: normal;
}

form th {
  text-align: center;
}

/* Highlight required form fields */
form .required label {
  font-weight: bold;
}

/* Style for form error messages */
form .error {
  color: #d00;
  font-weight: bold;
}

.btn-succes {
  margin-left: 5rem;
  background-color: #359939;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-size: 16x;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-succes:hover {
  background-color: #297c2c;
}

#treesTable th {
  font-weight: bold;
}

.delete-btn,
.delete-btn:visited {
  background-color: #b0802f;
}

.delete-btn:hover,
.delete-btn:active {
  background-color: #7e5c22;
}
